<div class="products">
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
  <div class="card">
    <img src="assets/items/cap.png" alt="" />
    <h2 class="title">Cap</h2>
    <p class="price">$5</p>
    <div class="buttons-container">
      <button class="btn-add-cart">Add Cart</button>
      <button class="btn-rounded minus"></button>
      <p class="count">0</p>
      <button class="btn-rounded plus"></button>
    </div>
  </div>
</div>
